<div class="wrapper-full">
  <div class="header">
    <div class="logo">
      <img src="../images/ng2-logo.png" alt=""/>
    </div>
    <div class="panel-login">
      <button class="login" (click)='login()'  *ngIf='!authService.isLoggedIn'>Login</button>
      <button class="login" (click)='logout()'  *ngIf='authService.isLoggedIn'>Logout</button>
    </div>
    <div class="navigator">
      <nav>
        <!-- Links for Components-->
        <a routerLink='/home' routerLinkActive="active">Home</a>
        <a routerLink='/phones' routerLinkActive="active">Phones</a>
      </nav>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main">
    <!-- Dynamic content goes here -->
    <router-outlet></router-outlet>
  </div>
</div>